<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz-qeTaC-V1GMIhytCYUx8q2Ub7gJd45w</string>
	<key>GCM_SENDER_ID</key>
	<string>912750859643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plenart.emotionStation</string>
	<key>PROJECT_ID</key>
	<string>emotion-station</string>
	<key>STORAGE_BUCKET</key>
	<string>emotion-station.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912750859643:ios:af71217f35edf4614119de</string>
</dict>
</plist>